.nombre {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
  position: sticky;
  top: 0px;
}

.nombre img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.nombre  h2 {
  font-family: var(--font-uno);
  font-weight: bold;
  letter-spacing: .5rem;
  color: var(--uno);
  text-shadow: 0 0 10px var(--cuatro);
  font-size: var(--font-subtitulo);
}

.nombre  h3 {
  font-family: var(--font-dos);
  letter-spacing: .25rem;
  color: var(--dos);
  text-shadow: 0 0 10px var(--cuatro);
  font-size: var(--font-parrafo);
  padding-bottom: 10px;
  border-bottom: 1px solid var(--dos);
}
