.nombre {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
  position: sticky;
  top: 0px;
}

.nombre img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.nombre  h2 {
  font-family: var(--font-uno);
  font-weight: bold;
  letter-spacing: .5rem;
  color: var(--uno);
  text-shadow: 0 0 10px var(--cuatro);
  font-size: var(--font-subtitulo);
}

.nombre  h3 {
  font-family: var(--font-dos);
  letter-spacing: .25rem;
  color: var(--dos);
  text-shadow: 0 0 10px var(--cuatro);
  font-size: var(--font-parrafo);
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--dos);
}

@media (min-width:700px) {
  .nombre {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -60px;
  }

  .nombre img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

  .nombre-especialidad h2 {
    font-size: var(--font-titulo-chico);
    color: var(--once);
    text-shadow: 0 0 10px var(--catorce);
  }

  .nombre-especialidad h3 {
    font-size: var(--font-subtitulo);
    text-align: center;
    color: var(--catorce);
    text-shadow: 0 0 10px var(--doce);
    border-bottom: 1px solid var(--quince);
  }
}

@media (min-width: 1200px) {
  .nombre {
    position: absolute;
    top: 110px;
    right: 40px;
}

.nombre img {
  width: 60px;
  height: 60px;
  display: none;
}

.nombre h2 {
  font-size: var(--font-parrafo);
  color: var(--ventiuno);
}

.nombre h3 {
  font-size: var(--font-chico);
  color: var(--ventidos);
  letter-spacing: .5rem;
  text-shadow: none;
  border-bottom: 1px solid var(--venticinco);
}
}
