.acerca-de {
	width: 80vw;
	margin: auto;
}

.acerca-de h3 {
	margin-top: 40px;
	font-family: var(--font-dos);
	font-weight: bold;
	letter-spacing: 0.25rem;
	color: var(--cuatro);
	text-shadow: 0 0 5px var(--uno);
	font-size: var(--font-subtitulo);
}

.acerca-de p {
	margin-top: 10px;
	font-family: var(--font-uno);
	color: var(--cinco);
	font-size: var(--font-parrafo);
	height: 200px;
	overflow: auto;
}

@media (min-width: 700px) {
	.acerca-de h3 {
		text-align: center;
		color: var(--quince);
		text-shadow: 0 0 10px var(--once);
		font-size: var(--font-titulo-chico);
	}

	.acerca-de p {
		color: var(--once);
		font-size: var(--font-parrafo);
	}
}