.education {
  margin: 40px 40px 0;
}

.education h3 {
  font-family: var(--font-dos);
  font-size: var(--font-subtitulo);
  font-weight: bold;
  letter-spacing: .25rem;
  color: var(--cuatro);
  text-shadow: 0 0 5px var(--uno);
}

.education-container {
  display: flex;
  overflow-x: auto;
}

.educacion {
  margin: 10px 40px 10px 30px;
  padding: 20px 20px;
  border: 1px solid var(--dos);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--dos);
}

.educacion h4 {
  font-family: var(--font-dos);
  font-size: var(--font-parrafo);
  color: var(--uno);
  width: 200px;
  text-shadow: 0 0 5px var(--cinco);
}

.educacion p {
  font-family: var(--font-dos);
  font-size: var(--font-chico);
  color:var(--cinco);
  margin-top: 5px;
}

.educacion-container img {
  margin: 10px 0;
}

.educacion figcaption {
  font-family: var(--font-uno);
  color: var(--cuatro);
  font-size: var(font-chico);
}

@media (min-width: 700px) {
  .educacion {
    box-shadow:  0 0 10px var(--once);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .education h3 {
		text-align: center;
		color: var(--quince);
		text-shadow: 0 0 10px var(--once);
		font-size: var(--font-titulo-chico);
	}

  .educacion h4 {
    color: var(--catorce);
    text-shadow: 0 0 10px var(--once);
    font-size: var(--font-subtitulo);
  }

  .educacion p {
    color: var(--once);
    text-shadow: 0 0 10px var(--doce);
  }

  .educacion figcaption {
    color: var(--once);
  }
}


@media (min-width:1200px) {
  .educacion {
    box-shadow:  0 0 10px var(--venticuatro);
    width:300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .education h3 {
		text-align: start;
		color: var(--venticuatro);
		text-shadow: 0 0 10px var(--venticinco);
		font-size: var(--font-titulo-chico);
	}

  .educacion h4 {
    color: var(--venticuatro);
    text-shadow: 0 0 10px var(--ventidos);
    font-size: var(--font-subtitulo);
  }

  .educacion p {
    color: var(--venticuatro);
    text-shadow: 0 0 10px var(--ventidos);
  }

  .educacion figcaption {
    color: var(--venticinco);
  }
}