* {
	margin: 0;
	padding: 0;
  background-color: var(--tres);
}

:root {
	--uno: #fcb86d;
	--dos: #d8737f;
	--tres: #ab6c82;
	--cuatro: #685d79;
	--cinco: #475c7a;

	--once: #462446;
	--doce: #b05f6d;
	--trece: #eb6b56;
	--catorce: #ffc153;
	--quince: #47b39d;

	--ventiuno: #58094f;
	--ventidos: #841e62;
	--ventitres: #f3aa20;
	--venticuatro: #2a445e;
	--venticinco: #346b6d;

	--font-uno: "Oswald", sans-serif;
	--font-dos: "Roboto", sans-serif;
	--font-titulo-grande: 70px;
	--font-titulo-chico: 50px;
	--font-subtitulo: 30px;
	--font-parrafo: 20px;
	--font-chico: 16px;
}

.fondo {
	display: none;
}


@media (min-width: 700px) {
	* {
		background-color: var(--trece);
	}

	aside {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1200px) {
	* {
		background-color: var(--ventitres);
	}

	.fondo {
		display: block;
		width: 99vw;
		margin: auto;
	}

	main {
		display: grid;
		grid-template-columns: 400px 1fr;
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas:
		"contacto acerca-de"
		"skills proyectos"
		"hobbies education"
		;
	}

	main .acerca-de {
		grid-area: acerca-de;
		width: 50vw;

	}

	main .proyectos {
		grid-area: proyectos;
		width: 50vw;
	}

	main .education {
		grid-area: education;
		width: 50vw;
	}

	aside {
		display: grid;
		grid-template-columns: 1fr;
	}

/* 	.skills {
		grid-area: skills;
	}

	.hobbies {
		grid-area: hobbies;
	} */
}