* {
	margin: 0;
	padding: 0;
  background-color: var(--tres);
}

:root {
/* 	--uno: #58094f;
	--dos: #841e62;
	--tres: #f3aa20;
	--cuatro: #2a445e;
	--cinco: #346b6d; */

	--uno: #fcb86d;
	--dos: #d8737f;
	--tres: #ab6c82;
	--cuatro: #685d79;
	--cinco: #475c7a;

	/* --uno: #462446;
	--dos: #b05f6d;
	--tres: #eb6b56;
	--cuatro: #ffc153;
	--cinco: #47b39d;
 */
	--font-uno: "Oswald", sans-serif;
	--font-dos: "Roboto", sans-serif;
	--font-size-uno: 1.5rem;
	--font-size-dos: 2rem;
	--font-size-tres: 4rem;
}
