.proyectos {
  margin: 40px 40px 0;
}

.proyectos h3 {
  font-family: var(--font-dos);
  font-size: var(--font-subtitulo);
  font-weight: bold;
  letter-spacing: .25rem;
  color: var(--cuatro);
  text-shadow: 0 0 5px var(--uno);
}

.proyectos-container {
  display: flex;
  overflow-x: auto;
}

.articulo {
  margin: 10px 40px 10px 20px;
  padding: 20px 20px;
  border: 1px solid var(--dos);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--dos);
}

.articulo h4 {
  font-family: var(--font-dos);
  font-size: var(--font-parrafo);
  color: var(--uno);
  width: 200px;
  text-shadow: 0 0 5px var(--cinco);
}

.proyectos-container img {
  margin: 10px 0;
}

.proyectos figcaption {
  font-family: var(--font-uno);
  color: var(--cinco);
  font-size: var(font-chico);
}

@media (min-width: 700px) {
  .articulo {
    box-shadow:  0 0 10px var(--once);
  }

  .proyectos h3 {
		text-align: center;
		color: var(--quince);
		text-shadow: 0 0 10px var(--once);
		font-size: var(--font-titulo-chico);
	}

  .articulo h4 {
    color: var(--catorce);
    text-shadow: 0 0 10px var(--once);
    font-size: var(--font-subtitulo);
  }

  .articulo figcaption {
    color: var(--once);
  }
}

@media (min-width: 1200px) {
  .articulo {
    box-shadow:  0 0 10px var(--venticuatro);
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .proyectos h3 {
		text-align: start;
		color: var(--venticuatro);
		text-shadow: 0 0 10px var(--venticinco);
		font-size: var(--font-titulo-chico);
	}

  .articulo h4 {
    color: var(--venticuatro);
    text-shadow: 0 0 10px var(--ventidos);
    font-size: var(--font-subtitulo);
  }

  .articulo figcaption {
    color: var(--venticinco);
  }
}
