header {
	display: grid;
  grid-template-columns: 1fr;
	grid-template-rows: 150px ;
	width: 100vw;
	height: 150px;
}

.loguito {
  display: block;
  width:50px;
  height: 50px;
  background-color: red;
  position:absolute;
  top: -100px;
  left: -100px
}

h1 {
  display: block;
	color: var(--dos);
	font-family: var(--font-dos);
	font-size: var(--font-titulo-chico);
  letter-spacing: 2.5px;
  text-align: center;
  text-shadow: 0 0 10px var(--cinco);
}

#menu img{
  position:fixed;
  bottom: 20px;
  right: 5%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--dos);
  box-shadow: 0 0 10px var(--cuatro);
  z-index: 100;
}

#menu img:active {
  opacity: .6;
}

/* #menu:default {
  opacity: 1;
}
 */



@media (min-width: 700px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: auto;
  }

  header .logo {
    width: 90px;
    height: 90px;
    margin: 0;
  }

  h1 {
    color: var(--quince);
    text-shadow: 0 0 10px var(--once);
    z-index: 30;
  }

  #menu img{
   /*  position:initial; */
    width: 90px;
    height:90px;
    box-shadow: 0 0 10px var(--once);
    border: 1px solid var(--quince);
  }


}

@media (min-width: 1200px) {
  header {
    width: 50vw;
    padding: 10px;
    margin: 0 15px 0;
    display: grid;
    grid-template-columns:60px 1fr;
    grid-template-areas: "logo  titulo";
    background-color: transparent;
  }

  header img {
    grid-area: logo;
    /* margin: 100px; */
    /* padding: 20px; */
    z-index: 50;
  }

  h1 {
    font-size: 2.5rem;
    color: var(--venticuatro);
    text-shadow: 0 0 10px var(--venticuatro);
    grid-area: titulo;
    /* margin-left: 10px; */
    width: 35vw;
    margin-left: 5%;
    background-color: transparent;
  }

  #menu {
    display: none;
  }
}