.footer {
  margin: 40px 40px 0;
}

.footer-contactos {
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.footer-contactos a {
  font-family: var(--font-dos);
  font-size: var(--font-parrafo);
  margin: 0px 40px;
  text-decoration: none;
  color: var(--dos);
  text-shadow: 0 0 10px var(--cinco);
  cursor: pointer;
}

footer img {
  width: 40px;
}

@media (min-width: 700px) {
  .footer-contactos {
    margin: auto;
  }

  .footer-contactos a {
    font-size: var(--font-subtitulo);
    margin: 40px 40px;
    color: var(--quince);
    text-shadow: 0 0 10px var(--once);
  }

  footer img {
    width: 60px;
  }
}

@media (min-width:1200px) {
  footer {
    border-top: 1px solid var(--venticuatro);
  }

  footer figcaption {
    color: var(--venticuatro);
    text-shadow: 0 0 10px var(--ventiuno);
  }
}