nav {
  width:100vw;
	height: 100vh;
  position: fixed;
	top: 0;
	padding-top: 80px;
	z-index: 20;
	opacity: .9;
	display: none;
}

nav ul {
	list-style: none;
	align-items: center;
}

nav li,
nav a {
	margin: 60px auto;
	font-family: var(--font-uno);
	color: var(--uno);
	text-decoration: none;
	text-align: center;
	font-size: var(--font-subtitulo);
  letter-spacing: 1.5px;
}

nav a:hover {
	color: var(--cinco)
}


@media (min-width:700px) {
	nav {
		display: block;
		position: initial;
		margin: -110px auto 0;
		width: 60vw;
		height: auto;
		padding-top: 0;
	}

	nav ul {
		display: flex;
		flex-direction: row;
	}

	nav a {
		font-size: var(--font-parrafo);
		color: var(--venticuatro);
	}
}

@media (min-width: 1200px) {
	nav {
		width: 30vw;
		position: absolute;
		top: 105px;
		margin-left: 48vw;
	}

	nav a {
		color: var(--venticinco)
	}

	nav a:hover {
		color: var(--venticuatro);
	}

	nav li {
		transition: transform .5s ease-in-out;
	}

	nav li:hover {
		transform: scale(1.2);
		transition: transform .2s ease-in-out;
	}
}