nav {
  width:100vw;
	height: 100vh;
  position: fixed;
	display: none;
}

ul {
	list-style: none;
	align-items: center;
}

li,
a {
	margin: 60px auto;
	font-family: var(--font-uno);
	color: var(--uno);
	text-decoration: none;
	text-align: center;
	font-size: var(--font-subtitulo);
  letter-spacing: 1.5px;
}

a:hover {
	color: var(--cinco)
}