.contactos {
  display:none;
}

.contactos {
  margin: 40px 40px 0;
}

.contacots h3 {
  font-family: var(--font-dos);
  font-size: var(--font-subtitulo);
  font-weight: bold;
  letter-spacing: .25rem;
  color: var(--cuatro);
  text-shadow: 0 0 5px var(--uno);
}